fieldset{
    border: 1px solid;
    width: 48%;

}

 input[type=submit]{

     background-color: #0000CD;
     color: white;
     padding: 12px;
     margin: 10px;
     border-radius: 3px;
     border: none;
 }

 input[type=submit]:hover{
     background-color: #00008B;

 }

 input[type=text],[type=password],[type=number],[type=file], textarea{
     background-color: whitesmoke;
     padding: 8px;
     margin: 4px;
     border-radius: 4px;
     box-sizing: border-box;

 }


 .topnavigation{
    background-color: #00008B;
    text-align: right;
    overflow: hidden;
    padding: 12px;
 }

 .topnavigation a{
     color: white;
     text-decoration: none;
     text-align: center;
     padding: 12px;

 }

 .topnavigation a:hover{

background-color: mediumblue;

}