input[type=text],[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input{
    width: 25%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]{
background-color: green;
}

input[type="reset"]{
    background-color: red;
    }


#org{
    background-color: orange;
}

input[type="submit"]:hover{
    background-color: darkgreen;
}

fieldset{
    padding: 1%;
    border-color: blue;
}

.some{
    background-color: greenyellow;
}

html{
    background-image: url("http://www.accidentalshakespeare.com/upload/2018/01/13/page-background-color-css-chuckbuttcom-html-set-page-background-color-l-aeba8d8307a1afdc.jpg");
}

